<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    <span class="white-color"> home </span>
                </i>
                <span class="white-color"> Início </span>
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    <span class="white-color"> storefront </span>
                </i>
                <span class="white-color"> Produtos </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>